# This is a basic workflow to help you get started with Actions

name: Wiki Update

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: wiki-page-creator-action
      uses: Decathlon/wiki-page-creator-action@v2.0.1
    env:
      GH_PAT: ${{ secrets.PERSONAL_TOKEN }}
      ACTION_MAIL: luisfontes101@gmail.com
      ACTION_NAME: wikiautomation
      OWNER: DamNVulnerableCryptoApp
      REPO_NAME: damn_vulnerable_crypto_app
      MD_FOLDER: backend/src/documentation/
